# runner.container
[Unit]
After=network-online.target

[Container]
Image=docker.io/gitea/act_runner:nightly
ContainerName=act_runner
AutoUpdate=registry
AddDevice=/dev/fuse
Environment=GITEA_INSTANCE_URL=https://REPLACE_WITH_GITEA_HOST 
Environment=CONFIG_FILE=/config.yaml 
Environment=GITEA_RUNNER_REGISTRATION_TOKEN=ADD_TOKEN
SeccompProfile=unconfined
SecurityLabelDisable=true
Volume=/etc/config.yaml:/config.yaml
Volume=/run/podman/podman.sock:/var/run/docker.sock

[Install]
WantedBy=multi-user.target default.target

